@import '../variables.less';

.pagination {
    .display(flex);
    .justify-content(center);

    .pagination-group {
        .display(flex);
        margin-left: auto;
    }

    .pagination-items {

        li {
            list-style: none;
            display: inline-block;
            margin: 0 5px;
        }

        .pg-arrow {
            cursor: pointer;
            color: #2A96FF;
        }

        .pagination-item--disabled {
            color: #ccc;
            cursor: not-allowed;
        }

        .pagination-item-page {
            font-size: 13px;
        }
    }

    .pagination-pageSize {
        .align-self(center);
    }

    .pagination-footnote {
        margin-left: auto;
        .align-self(center);
        font-size: 12px;  
        color: #767676;
    }
}