.Pagination {
    display: flex;

    .Pagination-items {
        li {
            list-style: none;
            display: inline-block;
            margin: 0 5px;
        }

        .Pagination-item--disabled {
            color: gray;
            // cursor: not-allowed;
        }
    }
}