.comment {
    display: flex;
    margin-bottom: 20px;

    .avartar {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        border-radius: 5px;
    }

    .comment-section {
        width: 90%;
        border: 1px solid #DDDDDD;
        // border-radius: 3px;

        h3 {
            background-color: #F7F7F7;
            padding: 10px 20px;
            color: #555555;
            font-size: 12px;
        }

        pre {
            white-space: pre-line;
            padding: 15px 20px;
        }
    }
}