@import './kube.less';


.IssueTable {
    // tr {
    //     td:last-child {
    //         width: 100px;
    //         height: 20px;
    //     }
    // }

    height: 400px;
    overflow-y: auto;
    display: block;
}