@import '../variables.less';

.IssueTable {
    // height: 1000px;
    // overflow-y: auto;
    display: block;

    thead {
        th {
            color: @issue-title-color;
            padding: 10px;
            font-size: 16px;
            font-weight: 400;
        }
    }

    tbody {
        a {
            color: black;

            &:hover {
                color: @issue-title-hovered;
            }
        }

        td {
            padding: 3px;
        }

        tr:hover td {
            background-color: @issue-table-hover-row-bg;
        }

        tr:nth-child(odd) {
            background-color: @issue-table-odd-row-bg;
        }

        .avartar {
            width: 30px;
            height: 30px;
        }

        .issue-label {
            padding: 3px 5px;
            font-size: 12px;
            color: #fff;
            border-radius: 12px;
        }

        .issue-title {
            font-size: 15px;
            font-weight: 500;
            padding: 5px 0px 0px 10px;
        }

        .issue-number {
            font-size: 11px;
            font-weight: 300;
            color: #767676;
            margin-top: 3px;
        }
    }

}